body {
  margin: 0;
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (min-width:200px) {
  .photo {
    width: 380px;
    margin-left: auto;
    margin-right: auto
  }
}
@media screen and (min-width:600px) {
  .photo {
    width: 380px;
    margin-left: auto;
    margin-right: auto
  }

  .description {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }

  .description p {
    margin: 50px;
    margin-left: auto;
    margin-right: auto
  }

  .composant {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }

  .commentaire {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }

  .advice {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }
}

/*-------------------------------------------------------------------------------------
                                  @@@GRID
---------------------------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .1fr 730px 450px 1fr 300px 400px 300px;
  gap: 0 0;
  grid-template-areas: "header header header header"
  "photo photo photo photo"
  "description description description description"
  "composant composant composant composant"
  "commentaire commentaire commentaire commentaire"
  "advice advice advice advice"
  "footer footer footer footer"
}
/*-------------------------------------------------------------------------------------
                                  @@@HEADER
---------------------------------------------------------------------------------------*/
.header {
  display: flex;
  grid-area: header;
  justify-content: space-around;
  background-color: #19917c
}

.header .icon {
  margin-top: 15px;
  width: 40px;
  height: 40px;
  transition: all 250ms;
}

.header .logo {
  width: 75px;
  height: 75px;
  margin: 3px
}

.popup-content {
  background-color: #19917c;
  position: absolute;
  top: 10%;
  right: 0;
  text-align: right;
  padding: 10px
}

label {
  background-color: #19917c;
  text-align: left
}

#popup {
  display: none
}

#popup:target {
  display: block
}

#popup a.close-popup {
  position: absolute;
  top: -5px;
  right: 13px;
  text-decoration: none
}

input {
  text-align: right;
  color: #0c816d
}

body {
  color: black;
  background-color: white;
  background-image: url(/projet-img/Image/fond-ecranDeux.jpg); 
  background-size: 100vw 100vh;
}
/*-------------------------------------------------------------------------------------
                                  @@@FOOTER
---------------------------------------------------------------------------------------*/
.footer {
  grid-area: footer;
  background-color: #0c816d;
  justify-content: space-around
}

.footer .icon {
  width: 40px;
  height: 40px
}

.footer p {
  font-size: 30px;
  text-decoration: underline
}

.button-contact {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 100px;
  background-color: #000;
  color: #19b69b;
  font-size: 23px;
  margin-top: 30px;
  padding-left: 50px;
  padding-top: 30px;
  text-align: center
}

.button-contact:hover {
  background-color: #343333;
  box-shadow:5px 5px black
}

.footer a {
  text-decoration: none
}
/*-------------------------------------------------------------------------------------
                                  @@@ARTICLE
---------------------------------------------------------------------------------------*/
.tour {
  background-color: #289d88;
  width: 350px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px grey solid
}

.tour button {
  border: 1px solid grey
}

.panier-button {
  height: 50px;
  background-color: #000;
  color: #19b69b;
  font-size: 20px;
  text-align: center;
  border: 1px #000 solid
}
.pc {
  border: 1px solid black;
  margin:5px
}

.panier-button:hover {
  background-color: #343333
}

.tour p {
  font-size: 25px
}

.tour h3 {
  font-size: 27px
}

.photo {
  grid-area: photo;
  text-align: center;
  height: 230px
}

.photo-article {
  width: 230px;
  height: 230px;
  margin-top: 5px
}

.photo-mini {
  text-align: center;
  width: 75px;
  height: 75px;
  margin-top: 10px;
}

.description {
  position: static;
  grid-area: description;
  background-color: hsl(169, 59%, 39%);
  height:400px  
}

.etoile {
  width: 30px;
  height: 30px
}

.description-all {
  background-color: #a6fced;
  margin: 10px
}

.etoile-all {
  border: 1px solid #000;
  background-color: #fff
}

.composant {
  grid-area: composant;
}

.composant h2 {
  background-color: #11ae93;
  height: 50px;
  
}

.black {
  background-color: #11ae93;
  color: #000;
  border: #000 2px solid;
}

.couleur p {
  margin-top: 45px;
  margin-left: 20px;
  height: 60px;
  text-align: left;
  font-size: 23px;
}

.commentaire {
  grid-area: commentaire;
  margin-top: 5px;
  font-size: 21px;
}

.commentaire h2 {
  color: #eeeE;
}

.com {
  background-color: #19d2b2;
}

.advice {
  grid-area: advice;
  background-color: #90ebdb;
  margin-bottom: 10px;
}

.article-img {
  width: 90px;
  height: 90px;
  margin-left: 80px;
  margin-right: 80px
}

.fleche {
  width: 40px;
  height: 40px
}

.icon:hover {

  width: 50px;
  height:50px;
  transition: all 250ms;

}